@import "../../../style/main";

%__T_Tab_Activate_Indicator {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 1px;
}

%__T_Tab {
  @include transition270;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: default;
  box-sizing: border-box;
  position: relative;

  @include fontWeight400;
  @include fontSize14px;
  @include lineHeight24px;

  &[disabled] {
    color: $khakitron-gray-400;
    pointer-events: none;
  }
}

.__T_Tab_default {
  @extend %__T_Tab;
  padding: 0 4px;
  color: $khakitron-gray-100;
  margin: 0 24px;

  &:hover {
    background: $khakitron-gray-600;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &.__T_Tab_Activated {
    color: $khakitron-preset-primary-color;
    position: relative;

    &::before {
      @extend %__T_Tab_Activate_Indicator;
      background: $khakitron-preset-primary-color;
    }

    &[disabled] {
      color: $khakitron-gray-400;

      &::before {
        @extend %__T_Tab_Activate_Indicator;
        background: $khakitron-gray-400;
      }
    }
  }
}

.__T_Tab_outlined {
  @extend %__T_Tab;
  padding: 0 16px;
  color: $khakitron-gray-200;

  border-top-right-radius: 4px;
  border-top-left-radius: 4px;

  &:hover {
    background: $khakitron-gray-600;

    &::before {
      @extend %__T_Tab_Activate_Indicator;
      background: $khakitron-gray-400;
    }
  }

  &.__T_Tab_Activated {
    color: $khakitron-gray-100;
    box-shadow: inset 0 0 0 1px $khakitron-gray-400;

    &[disabled] {
      color: $khakitron-gray-400;
    }

    // I put a white line at the bottom to hide the tabBar's bottom border, not the best solution but for now I can't think of a better one
    &::before {
      @extend %__T_Tab_Activate_Indicator;
      left: 1px;
      right: 1px;
      background: $khakitron-white;
    }
  }
}
