$t-button-heights: (
  "xxLarge": 56px,
  "xLarge": 48px,
  "large": 40px,
  "medium": 36px,
  "small": 32px,
  "xSmall": 24px
);

$t-button-font-size: (
  "xxLarge": 18px,
  "xLarge": 18px,
  "large": 16px,
  "medium": 16px,
  "small": 14px,
  "xSmall": 12px
);

$t-button-font-weight: (
  "xxLarge": 600,
  "xLarge": 600,
  "large": 600,
  "medium": 500,
  "small": 400,
  "xSmall": 400
);

$t-button-padding: (
  "xxLarge": 0 24px,
  "xLarge": 0 24px,
  "large": 0 24px,
  "medium": 0 20px,
  "small": 0 16px,
  "xSmall": 0 16px
);

$t-button-inset-shadow-depth: (
  "xxLarge": 2px,
  "xLarge": 2px,
  "large": 2px,
  "medium": 1.5px,
  "small": 1px,
  "xSmall": 1px
);

$t-button-icon-button-padding: (
  "xxLarge": 0 10px,
  "xLarge": 0 10px,
  "large": 0 8px,
  "medium": 0 8px,
  "small": 0 7px,
  "xSmall": 0 5px
);

$t-button-icon-button-font-size: (
  "xxLarge": 36px,
  "xLarge": 28px,
  "large": 24px,
  "medium": 20px,
  "small": 18px,
  "xSmall": 14px
);
