@use "sass:map";

@import "variables";
@import "mixins";
@import "../../style/_main.scss";

%__T_Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: none;
  -webkit-font-smoothing: antialiased;
  font-size: inherit;
  letter-spacing: inherit;
  font-weight: 500;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  position: relative;

  transition: all 270ms cubic-bezier(0.4, 0, 0.2, 1);

  &:disabled {
    pointer-events: none;
  }

  &:active:enabled::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: '';
    background: $khakitron-gray-100;
    opacity: 0.05;
    border-radius: inherit;
  }

  border-radius: 4px;
  background: none;
}

.__T_Button_content {
  align-items: center;
  color: inherit;
  display: flex;
  flex: 1 0 auto;
  justify-content: inherit;
  line-height: normal;
  position: relative;
  transition: inherit;
  transition-property: opacity;
}

.__T_Button_default {
  @extend %__T_Button;

  &.__T_Button_basic {
    color: $khakitron-white;
    background-color: $khakitron-gray-100;

    &:hover:enabled {
      background-color: $khakitron-gray-200;
    }
  }

  &.__T_Button_primary {
    color: $khakitron-white;
    background-color: $khakitron-preset-primary-color;

    &:hover:enabled {
      background-color: $khakitron-preset-primary-200-color;
    }
  }

  &.__T_Button_secondary {
    color: $khakitron-white;
    background-color: $khakitron-preset-secondary-color;

    &:hover:enabled {
      background-color: $khakitron-preset-secondary-200-color;
    }
  }

  &.__T_Button_info {
    color: $khakitron-white;
    background-color: $khakitron-preset-info-color;

    &:hover:enabled {
      background-color: $khakitron-preset-info-200-color;
    }
  }

  &.__T_Button_success {
    color: $khakitron-white;
    background-color: $khakitron-preset-success-color;

    &:hover:enabled {
      background-color: $khakitron-preset-success-200-color;
    }
  }

  &.__T_Button_warning {
    color: $khakitron-white;
    background-color: $khakitron-preset-warning-color;

    &:hover:enabled {
      background-color: $khakitron-preset-warning-200-color;
    }
  }

  &.__T_Button_danger {
    color: $khakitron-white;
    background-color: $khakitron-preset-danger-color;

    &:hover:enabled {
      background-color: $khakitron-preset-danger-200-color;
    }
  }

  &:hover:enabled {
    cursor: pointer;
  }

  &:disabled {
    color: $khakitron-white;
    background-color: $khakitron-gray-400;
  }
}

.__T_Button_outlined {
  @extend %__T_Button;

  &.__T_Button_basic {
    color: $khakitron-gray-100;
  }

  &.__T_Button_primary {
    color: $khakitron-preset-primary-color;
  }

  &.__T_Button_secondary {
    color: $khakitron-preset-secondary-color;
  }

  &.__T_Button_info {
    color: $khakitron-preset-info-color;
  }

  &.__T_Button_success {
    color: $khakitron-preset-success-color;
  }

  &.__T_Button_warning {
    color: $khakitron-preset-warning-color;
  }

  &.__T_Button_danger {
    color: $khakitron-preset-danger-color;
  }

  &:hover:enabled {
    cursor: pointer;
    background-color: $khakitron-gray-600;
  }

  &:disabled {
    color: $khakitron-gray-400;
  }

}

.__T_Button_text {
  @extend %__T_Button;

  &.__T_Button_basic {
    color: $khakitron-gray-100;
  }

  &.__T_Button_primary {
    color: $khakitron-preset-primary-color;
  }

  &.__T_Button_secondary {
    color: $khakitron-preset-secondary-color;
  }

  &.__T_Button_info {
    color: $khakitron-preset-info-color;
  }

  &.__T_Button_success {
    color: $khakitron-preset-success-color;
  }

  &.__T_Button_warning {
    color: $khakitron-preset-warning-color;
  }

  &.__T_Button_danger {
    color: $khakitron-preset-danger-color;
  }

  &:hover:enabled {
    cursor: pointer;
    background-color: $khakitron-gray-600;
  }

  &:disabled {
    color: $khakitron-gray-400;
  }
}

.__T_Button_stroked {
  @extend %__T_Button;

  &.__T_Button_basic {
    color: $khakitron-gray-100;
  }

  &.__T_Button_primary {
    color: $khakitron-preset-primary-color;
  }

  &.__T_Button_secondary {
    color: $khakitron-preset-secondary-color;
  }

  &.__T_Button_info {
    color: $khakitron-preset-info-color;
  }

  &.__T_Button_success {
    color: $khakitron-preset-success-color;
  }

  &.__T_Button_warning {
    color: $khakitron-preset-warning-color;
  }

  &.__T_Button_danger {
    color: $khakitron-preset-danger-color;
  }

  &:hover:enabled {
    cursor: pointer;
    background-color: $khakitron-gray-600;
  }

  &:disabled {
    color: $khakitron-gray-400;
  }
}

.__T_Button_block {
  width: 100%;
}

.__T_Button_tile {
  border-radius: 0;
}

.__T_Button_icon {
  font-weight: 0 !important;
}

.__T_Button_xxLarge {
  height: map.get($t-button-heights, "xxLarge");
  min-height: map.get($t-button-heights, "xxLage");
  padding: map.get($t-button-padding, "xxLarge");
  font-size: map.get($t-button-font-size, "xxLarge");
  font-weight: map.get($t-button-font-weight, "xxLarge");

  &.__T_Button_outlined {
    &.__T_Button_basic {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xxLarge"), $khakitron-gray-100);
    }

    &.__T_Button_primary {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xxLarge"), $khakitron-preset-primary-color);
    }

    &.__T_Button_secondary {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xxLarge"), $khakitron-preset-secondary-color);
    }

    &.__T_Button_info {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xxLarge"), $khakitron-preset-info-color);
    }

    &.__T_Button_success {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xxLarge"), $khakitron-preset-success-color);
    }

    &.__T_Button_warning {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xxLarge"), $khakitron-preset-warning-color);
    }

    &.__T_Button_danger {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xxLarge"), $khakitron-preset-danger-color);
    }

    &:disabled {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xxLarge"), $khakitron-gray-400);
    }
  }

  &.__T_Button_stroked {
    @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xxLarge"), $khakitron-gray-400);

    &:disabled {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xxLarge"), $khakitron-gray-400);
    }
  }

  &.__T_Button_icon {
    padding: map.get($t-button-icon-button-padding, "xxLarge");
    font-size: map.get($t-button-icon-button-font-size, "xxLarge"); // since it is an icon button, I am assuming font-size is only for icons
  }
}

.__T_Button_xLarge {
  height: map.get($t-button-heights, "xLarge");
  min-height: map.get($t-button-heights, "xLarge");
  padding: map.get($t-button-padding, "xLarge");
  font-size: map.get($t-button-font-size, "xLarge");
  font-weight: map.get($t-button-font-weight, "xLarge");

  &.__T_Button_outlined {
    &.__T_Button_basic {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xLarge"), $khakitron-gray-100);
    }

    &.__T_Button_primary {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xLarge"), $khakitron-preset-primary-color);
    }

    &.__T_Button_secondary {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xLarge"), $khakitron-preset-secondary-color);
    }

    &.__T_Button_info {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xLarge"), $khakitron-preset-info-color);
    }

    &.__T_Button_success {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xLarge"), $khakitron-preset-success-color);
    }

    &.__T_Button_warning {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xLarge"), $khakitron-preset-warning-color);
    }

    &.__T_Button_danger {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xLarge"), $khakitron-preset-danger-color);
    }

    &:disabled {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xLarge"), $khakitron-gray-400);
    }
  }

  &.__T_Button_stroked {
    @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xLarge"), $khakitron-gray-400);

    &:disabled {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xLarge"), $khakitron-gray-400);
    }
  }

  &.__T_Button_icon {
    padding: map.get($t-button-icon-button-padding, "xLarge");
    font-size: map.get($t-button-icon-button-font-size, "xLarge");
  }
}

.__T_Button_large {
  height: map.get($t-button-heights, "large");
  min-height: map.get($t-button-heights, "large");
  padding: map.get($t-button-padding, "large");
  font-size: map.get($t-button-font-size, "large");
  font-weight: map.get($t-button-font-weight, "large");

  &.__T_Button_outlined {
    &.__T_Button_basic {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "large"), $khakitron-gray-100);
    }

    &.__T_Button_primary {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "large"), $khakitron-preset-primary-color);
    }

    &.__T_Button_secondary {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "large"), $khakitron-preset-secondary-color);
    }

    &.__T_Button_info {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "large"), $khakitron-preset-info-color);
    }

    &.__T_Button_success {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "large"), $khakitron-preset-success-color);
    }

    &.__T_Button_warning {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "large"), $khakitron-preset-warning-color);
    }

    &.__T_Button_danger {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "large"), $khakitron-preset-danger-color);
    }

    &:disabled {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "large"), $khakitron-gray-400);
    }
  }

  &.__T_Button_stroked {
    @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "large"), $khakitron-gray-400);

    &:disabled {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "large"), $khakitron-gray-400);
    }
  }

  &.__T_Button_icon {
    padding: map.get($t-button-icon-button-padding, "large");
    font-size: map.get($t-button-icon-button-font-size, "large");
  }
}

.__T_Button_medium {
  height: map.get($t-button-heights, "medium");
  min-height: map.get($t-button-heights, "medium");
  padding: map.get($t-button-padding, "medium");
  font-size: map.get($t-button-font-size, "medium");
  font-weight: map.get($t-button-font-weight, "medium");

  &.__T_Button_outlined {
    &.__T_Button_basic {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "medium"), $khakitron-gray-100);
    }

    &.__T_Button_primary {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "medium"), $khakitron-preset-primary-color);
    }

    &.__T_Button_secondary {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "medium"), $khakitron-preset-secondary-color);
    }

    &.__T_Button_info {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "medium"), $khakitron-preset-info-color);
    }

    &.__T_Button_success {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "medium"), $khakitron-preset-success-color);
    }

    &.__T_Button_warning {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "medium"), $khakitron-preset-warning-color);
    }

    &.__T_Button_danger {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "medium"), $khakitron-preset-danger-color);
    }

    &:disabled {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "medium"), $khakitron-gray-400);
    }
  }

  &.__T_Button_stroked {
    @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "medium"), $khakitron-gray-400);

    &:disabled {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "medium"), $khakitron-gray-400);
    }
  }

  &.__T_Button_icon {
    padding: map.get($t-button-icon-button-padding, "medium");
    font-size: map.get($t-button-icon-button-font-size, "medium");
  }
}

.__T_Button_small {
  height: map.get($t-button-heights, "small");
  min-height: map.get($t-button-heights, "small");
  padding: map.get($t-button-padding, "small");
  font-size: map.get($t-button-font-size, "small");
  font-weight: map.get($t-button-font-weight, "small");

  &.__T_Button_outlined {
    &.__T_Button_basic {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "small"), $khakitron-gray-100);
    }

    &.__T_Button_primary {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "small"), $khakitron-preset-primary-color);
    }

    &.__T_Button_secondary {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "small"), $khakitron-preset-secondary-color);
    }

    &.__T_Button_info {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "small"), $khakitron-preset-info-color);
    }

    &.__T_Button_success {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "small"), $khakitron-preset-success-color);
    }

    &.__T_Button_warning {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "small"), $khakitron-preset-warning-color);
    }

    &.__T_Button_danger {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "small"), $khakitron-preset-danger-color);
    }

    &:disabled {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "small"), $khakitron-gray-400);
    }
  }

  &.__T_Button_stroked {
    @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "small"), $khakitron-gray-400);

    &:disabled {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "small"), $khakitron-gray-400);
    }
  }

  &.__T_Button_icon {
    padding: map.get($t-button-icon-button-padding, "small");
    font-size: map.get($t-button-icon-button-font-size, "small");
  }
}

.__T_Button_xSmall {
  height: map.get($t-button-heights, "xSmall");
  min-height: map.get($t-button-heights, "xSmall");
  padding: map.get($t-button-padding, "xSmall");
  font-size: map.get($t-button-font-size, "xSmall");
  font-weight: map.get($t-button-font-weight, "xSmall");

  &.__T_Button_outlined {
    &.__T_Button_basic {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xSmall"), $khakitron-gray-100);
    }

    &.__T_Button_primary {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xSmall"), $khakitron-preset-primary-color);
    }

    &.__T_Button_secondary {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xSmall"), $khakitron-preset-secondary-color);
    }

    &.__T_Button_info {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xSmall"), $khakitron-preset-info-color);
    }

    &.__T_Button_success {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xSmall"), $khakitron-preset-success-color);
    }

    &.__T_Button_warning {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xSmall"), $khakitron-preset-warning-color);
    }

    &.__T_Button_danger {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xSmall"), $khakitron-preset-danger-color);
    }

    &:disabled {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xSmall"), $khakitron-gray-400);
    }
  }

  &.__T_Button_stroked {
    @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xSmall"), $khakitron-gray-400);

    &:disabled {
      @include outlinedBoxShadow(map.get($t-button-inset-shadow-depth, "xSmall"), $khakitron-gray-400);
    }
  }

  &.__T_Button_icon {
    padding: map.get($t-button-icon-button-padding, "xSmall");
    font-size: map.get($t-button-icon-button-font-size, "xSmall");
  }
}



