@import "../../style/main";

/* The switch - the box around the slider */
.__T_Switch_Container {
  display: inline-flex;

  &[disabled] {
    pointer-events: none;
  }
}

.__T_Switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.__T_Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.__T_Switch_Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: inset 0 0 0 1px #DBE0E9;

  &[disabled] {
    background: $jungletron-gray-500;
  }
}

.__T_Switch_Slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  top: 0;
  left: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: inset 0 0 0 1px #DBE0E9;
}

input:checked + .__T_Switch_Slider {
  background-color: $jungletron-preset-primary-color;

  &[disabled] {
    background: $jungletron-preset-primary-300-color;
  }
}

input:focus + .__T_Switch_Slider {
  //box-shadow: 0 0 1px #2196F3;
}

input:checked + .__T_Switch_Slider:before {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

/* Rounded __T_Switch_Sliders */
.__T_Switch_Slider.__T_Switch_Round {
  border-radius: 10px;
}

.__T_Switch_Slider.__T_Switch_Round:before {
  border-radius: 50%;
}
