//$text_field_default_border: #1a73e8;
$text_field_default_border: #0d639f;
//$text_field_default_hover_border: #1a2653;
//$text_field_default_focused_border: #1a2653;
//$text_field_default_focused_outline: #1a2653;

$text_field_default_hover_border: #1a73e8;
$text_field_default_focused_border: #1a73e8;
$text_field_default_focused_outline: #1a73e8;

$text_field_input_font_size: 16;
