@import "variables";
@import "../../style/_main.scss";

.__T_Select_Title {
  margin-bottom: 8px;
  @include fontSize16px;
  @include fontWeight500;
  color: $jungletron-gray-100;
  line-height: 28px;
}

.__T_Select_Wrapper {
  position: relative;
  cursor: default;
}

.__T_Select_Bar {
  box-sizing: border-box;
  border: 1px solid $jungletron-gray-400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;

  @include fontSize14px;
  @include fontWeight400;
  color: $jungletron-gray-100;

  padding: 0 12px;
  @include border_radius_4px;

  &[disabled] {
    color: $jungletron-gray-300;
    background-color: $_select_item_hover_background;
  }

  &.__T_Select_Bar_Error {
    border-color: $jungletron-preset-danger-color;
  }
}

.__T_Select_Items_Wrapper {
  position: absolute;
  background: $jungletron-white;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  z-index: 99;

  box-shadow: 0 8px 32px 0 rgba(181, 181, 202, 0.45);
  @include border_radius_4px;
  border: 1px solid $jungletron-gray-400;
}

.__T_Select_Item {
  position: relative;
  @include transition270;
  color: $jungletron-gray-100;
  padding: 8px 12px;
  @include fontSize14px;
  @include fontWeight400;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    color: $jungletron-preset-primary-color;
    background: $_select_item_hover_background;
  }

  &.__T_Select_Item_Active {
    color: $jungletron-preset-primary-color;
  }

  &[disabled] {
    pointer-events: none;
    color: $jungletron-gray-400;
  }

  &:first-child {
    margin-top: 4px;
  }

  &:last-child {
    margin-bottom: 4px;
  }
}


/*.__T_Select_Items_Wrapper div {
  @include transition270;
  color: $jungletron-gray-100;
  padding: 8px 12px;
  @include fontSize14px;
  @include fontWeight400;

  &:hover {
    color: $jungletron-preset-primary-color;
    background: $_select_item_hover_background;
  }
}*/

%__T_Select_Description {
  @include fontSize12px;
  @include fontWeight400;
  margin: 8px 0;
}

.__T_Select_Hint {
  @extend %__T_Select_Description;
  color: $jungletron-gray-200;
  line-height: 12px;
}

.__T_Select_Error_Message {
  @extend %__T_Select_Description;
  color: $jungletron-preset-danger-color;
  line-height: 12px;
}

.__T_Select_Option_Right_Slot {
  position: absolute;
  top: 0;
  right: 12px;
  display: flex;
  align-items: center;
}

.__T_Select_Bar_placeholder {
  color: $jungletron-gray-400;
}
