@keyframes popoverScale {
  0% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@keyframes popoverShrink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes modalScaleBottom {
  0% {
    opacity: 0;
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@keyframes modalShrinkBottom {
  0% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
  }
}
