@import "theme";

/**
 * var(a, b) means it is going to use the first param - a if a is existed, if not, using the backup plan - second parameter b
 * Pass in the corresponding --khakitron-preset-color to change the variable value if user provided
 */
$khakitron-preset-primary-color: var(--khakitron-preset-primary-color, $primary);
$khakitron-preset-primary-200-color: var(--khakitron-preset-primary-200-color, $primary-200);
$khakitron-preset-primary-300-color: var(--khakitron-preset-primary-300-color, $primary-300);

$khakitron-preset-secondary-color: var(--khakitron-preset-secondary-color, $secondary);
$khakitron-preset-secondary-200-color: var(--khakitron-preset-secondary-200-color, $secondary-200);
$khakitron-preset-secondary-300-color: var(--khakitron-preset-secondary-300-color, $secondary-300);

$khakitron-preset-info-color: var(--khakitron-preset-info-color, $info);
$khakitron-preset-info-200-color: var(--khakitron-preset-info-200-color, $info-200);
$khakitron-preset-info-300-color: var(--khakitron-preset-info-300-color, $info-300);

$khakitron-preset-success-color: var(--khakitron-preset-success-color, $success);
$khakitron-preset-success-200-color: var(--khakitron-preset-success-200-color, $success-200);
$khakitron-preset-success-300-color: var(--khakitron-preset-success-300-color, $success-300);

$khakitron-preset-danger-color: var(--khakitron-preset-danger-color, $danger);
$khakitron-preset-danger-200-color: var(--khakitron-preset-danger-200-color, $danger-200);
$khakitron-preset-danger-300-color: var(--khakitron-preset-danger-300-color, $danger-300);

$khakitron-preset-warning-color: var(--khakitron-preset-warning-color, $warning);
$khakitron-preset-warning-200-color: var(--khakitron-preset-warning-200-color, $warning-200);
$khakitron-preset-warning-300-color: var(--khakitron-preset-warning-300-color, $warning-300);


$khakitron-preset-dark-color: var(--khakitron-preset-dark-color, $dark);
$khakitron-preset-medium-color: var(--khakitron-preset-medium-color, $medium);
$khakitron-preset-light-color: var(--khakitron-preset-light-color, $light);


$khakitron-gray-100: #272834;
$khakitron-gray-200: #7F8B95;
$khakitron-gray-300: #A8B0B7;
$khakitron-gray-400: #DBE0E9;
$khakitron-gray-500: #E9EEF4;
$khakitron-gray-600: #F5F7F9;
$khakitron-white: #FFFFFF;

