@import "../../style/main";

%__T_Chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 2px 8px;

  box-sizing: border-box;

  @include fontWeightNormal;
}

.__T_Chip_normal {
  @include fontSize12px;
  @include lineHeight20px;
}

.__T_Chip_small {
  @include fontSize10px;
  @include lineHeight16px;
}

.__T_Chip_default_shape {
  border-radius: 999px;
}

.__T_Chip_tag_shape {
  border-radius: 4px;
}

.__T_Chip_default {
  @extend %__T_Chip;
  color: $khakitron-white;

  &.__T_Chip_gray {
    background: $khakitron-gray-300;
  }

  &.__T_Chip_basic {
    background: $khakitron-gray-100;
  }

  &.__T_Chip_primary {
    background: $khakitron-preset-primary-color;
  }

  &.__T_Chip_secondary {
    background: $khakitron-preset-secondary-color;
  }

  &.__T_Chip_info {
    background: $khakitron-preset-info-color;
  }

  &.__T_Chip_success {
    background: $khakitron-preset-success-color;
  }

  &.__T_Chip_warning {
    background: $khakitron-preset-warning-color;
  }

  &.__T_Chip_danger {
    background: $khakitron-preset-danger-color;
  }
}

.__T_Chip_contrast {
  @extend %__T_Chip;

  &.__T_Chip_gray {
    background: $khakitron-gray-600;
    color: $khakitron-gray-300;
  }

  &.__T_Chip_basic {
    background: $khakitron-gray-600;
    color: $khakitron-gray-100;
  }

  &.__T_Chip_primary {
    background: $khakitron-preset-primary-300-color;
    color: $khakitron-preset-primary-color;
  }

  &.__T_Chip_secondary {
    background: $khakitron-preset-secondary-300-color;
    color: $khakitron-preset-secondary-color;
  }

  &.__T_Chip_info {
    background: $khakitron-preset-info-300-color;
    color: $khakitron-preset-info-color;
  }

  &.__T_Chip_success {
    background: $khakitron-preset-success-300-color;
    color: $khakitron-preset-success-color;
  }

  &.__T_Chip_warning {
    background: $khakitron-preset-warning-300-color;
    color: $khakitron-preset-warning-color;
  }

  &.__T_Chip_danger {
    background: $khakitron-preset-danger-300-color;
    color: $khakitron-preset-danger-color;
  }

}

.__T_Chip_outlined {
  @extend %__T_Chip;

  &.__T_Chip_gray {
    box-shadow: inset 0 0 0 1px $khakitron-gray-300;
    color: $khakitron-gray-300;
  }

  &.__T_Chip_basic {
    box-shadow: inset 0 0 0 1px $khakitron-gray-100;
    color: $khakitron-gray-100;
  }

  &.__T_Chip_primary {
    box-shadow: inset 0 0 0 1px $khakitron-preset-primary-color;
    color: $khakitron-preset-primary-color;
  }

  &.__T_Chip_secondary {
    box-shadow: inset 0 0 0 1px $khakitron-preset-secondary-color;
    color: $khakitron-preset-secondary-color;
  }

  &.__T_Chip_info {
    box-shadow: inset 0 0 0 1px $khakitron-preset-info-color;
    color: $khakitron-preset-info-color;
  }

  &.__T_Chip_success {
    box-shadow: inset 0 0 0 1px $khakitron-preset-success-color;
    color: $khakitron-preset-success-color;
  }

  &.__T_Chip_warning {
    box-shadow: inset 0 0 0 1px $khakitron-preset-warning-color;
    color: $khakitron-preset-warning-color;
  }

  &.__T_Chip_danger {
    box-shadow: inset 0 0 0 1px $khakitron-preset-danger-color;
    color: $khakitron-preset-danger-color;
  }
}

.__T_Chip_stroked {
  @extend %__T_Chip;

  box-shadow: inset 0 0 0 1px $khakitron-gray-400;

  &.__T_Chip_gray {
    color: $khakitron-gray-300;
  }

  &.__T_Chip_basic {
    color: $khakitron-gray-100;
  }

  &.__T_Chip_primary {
    color: $khakitron-preset-primary-color;
  }

  &.__T_Chip_secondary {
    color: $khakitron-preset-secondary-color;
  }

  &.__T_Chip_info {
    color: $khakitron-preset-info-color;
  }

  &.__T_Chip_success {
    color: $khakitron-preset-success-color;
  }

  &.__T_Chip_warning {
    color: $khakitron-preset-warning-color;
  }

  &.__T_Chip_danger {
    color: $khakitron-preset-danger-color;
  }
}
