$t_avatar_sizes: "xxLarge", "xLarge", "large", "medium", "small", "xSmall";

$t_avatar_size: (
  "xxLarge": 168px,
  "xLarge": 120px,
  "large": 56px,
  "medium": 48px,
  "small": 32px,
  "xSmall": 28px,
);

$t_avatar_text_font_size: (
  "xxLarge": 120px,
  "xLarge": 85px,
  "large": 40px,
  "medium": 36px,
  "small": 24px,
  "xSmall": 20px
);

$t_avatar_text_line_height: (
  "xxLarge": 168px,
  "xLarge": 120px,
  "large": 56px,
  "medium": 48px,
  "small": 32px,
  "xSmall": 28px
);

$t_avatar_text_font_weight: (
  "xxLarge": 400,
  "xLarge": 400,
  "large": 400,
  "medium": 400,
  "small": 400,
  "xSmall": 400
);
