.__T_ripple_overflowHide {
  overflow: hidden !important;
}

.__T_ripple_relative {
  position: relative;
}

.__T_ripples {
  position: absolute;
  background: #fff;
  opacity: 0.8;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  transition: all 1s;
  width: 0;
  height: 0;
}

.__T_ripples.__T_ripples_endState {
  opacity: 0;
}